# Imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import wrangle

from os.path import exists

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
from importlib import reload

import warnings
#warnings.filterwarnings("ignore")

# Acquire

In [3]:
raw = pd.read_csv('oct22pub.csv')

In [4]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126649 entries, 0 to 126648
Columns: 388 entries, hrhhid2 to pternh2
dtypes: float64(337), int64(51)
memory usage: 374.9 MB

In [5]:
raw.columns = raw.columns.str.lower()

## Desired Columns

'hryear4', 'hurespli', 'hufinal', 'hetenure', 'hehousut', 'hetelavl', 'hefaminc', 'hrnumhou', 'hrhtype', hrlonglk, hrhhid2, hubus, hubusl1, hubusl2, hubusl4, gereg, gediv, gestfips, gtcbsast, gtmetsta, gtcbsasz, prtage, partfage, pemaritl, peafever, peafnow, peeduca, ptdtrace, prdthsp, pehspnon, prmarsta, prpertyp, penatvty, pemntvty, pefntvty, prcitshp, prinusyr, pemlr, puwk, pubus1, pubus2ot, pudis, peret1, pudis1, pudis2, puabsot, pulay, peabsrsn, peabspdo, pemjot, pemjnum, pehrusl1, pehrusl2, perhrftpt, pehruslt, pehrwant, pehrrsn1, pehrrsn3, purhoff1, purhoff2, puhrot1, pehract1, pehract2, pehravl, pelayfto, pelkavl, pulkavr, pelkll10, pelkdur, pelkfto, pedwldo, pedwwk, pejhwko, pejhrsn, pejhwant, prabsrea, prcibvlf, prdisc, premphrs, prempnot, prexplf, prftlf, prhrusl, prjobsea, prpthrs, prptrea, prwksch, prwkstat, prwntjob, puiodp1, puiodp2, peio1cow, puio2cow, puio2mfg, prioelg, pragna, prcow1, prcow2, prdtcow1, prdtcow2, prdtind1, prdtind3, prdtocc1, prdtocc2, premp, prmjind1, prmjind2, prmjocc1, prmjocc2, prmjocgr, prnagpws, prnagws, prsjms, peernuot, peernper, peernrt, peernhry, pternh1c, pternh2, pternh1o, pternhly, pthr, peernhro, pternwa, ptwk, ptern, ptot, peernwkp, peernlab, peerncov, penlfjh, penlfret, penlfact, pescenr, peschft, peschlvl, prnlfsch, prchld, prnmchld, pedipged, pehgcomp, pecyc, peio1icd, ptio1ocd, peio2icd, ptio2ocd, primind1, primind2, pecert1

In [6]:
wanted = 'hrlonglk, hrhhid2, hubus, hubusl1, hubusl2, hubusl4, gereg, gediv, gestfips, gtcbsast, gtmetsta, gtcbsasz, prtage, prtfage, pemaritl, peafever, peafnow, peeduca, ptdtrace, prdthsp, pehspnon, prmarsta, prpertyp, penatvty, pemntvty, pefntvty, prcitshp, pemlr, puwk, pubus1, pubus2ot, pudis, peret1, pudis1, pudis2, puabsot, pulay, peabsrsn, peabspdo, pemjot, pemjnum, pehrusl1, pehrusl2, pehrftpt, pehruslt, pehrwant, pehrrsn1, pehrrsn2, pehrrsn3, puhroff1, puhroff2, puhrot1, pehract1, pehract2, pehravl, pelayfto, pelkavl, pulkavr, pelkll1o, pelkdur, pelkfto, pedwlko, pedwwk, pejhwko, pejhrsn, pejhwant, prabsrea, prcivlf, prdisc, premphrs, prempnot, prexplf, prftlf, prhrusl, prjobsea, prpthrs, prptrea, prwksch, prwkstat, prwntjob, puiodp1, puiodp2, peio1cow, peio2cow, puio2mfg, prioelg, pragna, prcow1, prcow2, prdtcow1, prdtcow2, prdtind1, prdtind2, prdtocc1, prdtocc2, premp, prmjind1, prmjind2, prmjocc1, prmjocc2, prmjocgr, prnagpws, prnagws, prsjmj, peernuot, peernper, peernrt, peernhry, pternh1c, pternh2, pternh1o, pternhly, pthr, peernhro, pternwa, ptwk, ptern, ptot, peernwkp, peernlab, peerncov, penlfjh, penlfret, penlfact, peschenr, peschft, peschlvl, prnlfsch, prchld, prnmchld, pedipged, pehgcomp, pecyc, peio1icd, ptio1ocd, peio2icd, ptio2ocd, primind1, primind2, pecert1'
wanted_list = wanted.split(', ')
wanted_list = ['hryear4', 'hurespli', 'hufinal', 'hehousut', 'hetelavl', 'hefaminc', 'hrnumhou', 'hrhtype', 'pesex'] + wanted_list

column_not_in_frame = []

for col in wanted_list:
    if col not in raw.columns.str.lower().to_list():
        column_not_in_frame.append(col)
        print(col)

## Takeaways 
* fixed typos in list of desired columns
* Check original data dictionary for:
    - hetenure not in ddrame --> need to drop from desired list
    - prsjmj - prsjms not in dframe --> prsjmj contains the information
    - prinusyr not in dframe - Immigrant's year of entry

In [7]:
# df.loc[:, wanted_list]
df = raw[wanted_list]

In [8]:
print(df.columns.to_list())

['hryear4', 'hurespli', 'hufinal', 'hehousut', 'hetelavl', 'hefaminc', 'hrnumhou', 'hrhtype', 'pesex', 'hrlonglk', 'hrhhid2', 'hubus', 'hubusl1', 'hubusl2', 'hubusl4', 'gereg', 'gediv', 'gestfips', 'gtcbsast', 'gtmetsta', 'gtcbsasz', 'prtage', 'prtfage', 'pemaritl', 'peafever', 'peafnow', 'peeduca', 'ptdtrace', 'prdthsp', 'pehspnon', 'prmarsta', 'prpertyp', 'penatvty', 'pemntvty', 'pefntvty', 'prcitshp', 'pemlr', 'puwk', 'pubus1', 'pubus2ot', 'pudis', 'peret1', 'pudis1', 'pudis2', 'puabsot', 'pulay', 'peabsrsn', 'peabspdo', 'pemjot', 'pemjnum', 'pehrusl1', 'pehrusl2', 'pehrftpt', 'pehruslt', 'pehrwant', 'pehrrsn1', 'pehrrsn2', 'pehrrsn3', 'puhroff1', 'puhroff2', 'puhrot1', 'pehract1', 'pehract2', 'pehravl', 'pelayfto', 'pelkavl', 'pulkavr', 'pelkll1o', 'pelkdur', 'pelkfto', 'pedwlko', 'pedwwk', 'pejhwko', 'pejhrsn', 'pejhwant', 'prabsrea', 'prcivlf', 'prdisc', 'premphrs', 'prempnot', 'prexplf', 'prftlf', 'prhrusl', 'prjobsea', 'prpthrs', 'prptrea', 'prwksch', 'prwkstat', 'prwntjob', 'puiodp1', 'puiodp2', 'peio1cow', 'peio2cow', 'puio2mfg', 'prioelg', 'pragna', 'prcow1', 'prcow2', 'prdtcow1', 'prdtcow2', 'prdtind1', 'prdtind2', 'prdtocc1', 'prdtocc2', 'premp', 'prmjind1', 'prmjind2', 'prmjocc1', 'prmjocc2', 'prmjocgr', 'prnagpws', 'prnagws', 'prsjmj', 'peernuot', 'peernper', 'peernrt', 'peernhry', 'pternh1c', 'pternh2', 'pternh1o', 'pternhly', 'pthr', 'peernhro', 'pternwa', 'ptwk', 'ptern', 'ptot', 'peernwkp', 'peernlab', 'peerncov', 'penlfjh', 'penlfret', 'penlfact', 'peschenr', 'peschft', 'peschlvl', 'prnlfsch', 'prchld', 'prnmchld', 'pedipged', 'pehgcomp', 'pecyc', 'peio1icd', 'ptio1ocd', 'peio2icd', 'ptio2ocd', 'primind1', 'primind2', 'pecert1']

In [9]:
second_cut = ['hryear4','hufinal', 'hehousut', 'hefaminc', 'hrnumhou', 'hrhtype', 'hrhhid2', 'hubus',\
'gereg', 'gediv', 'gestfips', 'gtcbsast', 'gtmetsta', 'gtcbsasz', 'prtage', 'prtfage', \
'pemaritl', 'pesex', 'peafever', 'peafnow', 'peeduca', 'ptdtrace', 'pehspnon', 'prmarsta', 'penatvty', 'pemntvty',\
'pefntvty', 'prcitshp', 'pemlr', 'pubus1', 'pubus2ot', 'pudis', 'peret1', 'pudis2', \
'pemjot', 'pemjnum', 'pehrftpt', 'pehruslt', 'pehrwant', 'pehrrsn2',\
'puhroff1', 'puhroff2', 'puhrot1', 'pehract1', 'pehract2', 'pehravl', 'pelayfto', 'pelkavl', 'pedwlko', 'pedwwk', 'pejhwant', 'prempnot',\
'prwntjob', 'prcow1', 'prcow2', \
'prmjind1', 'prmjind2', 'prmjocc1', 'prmjocc2', 'prmjocgr', 'peernuot', 'peernhro', 'peernwkp',\
'penlfjh', 'penlfret', 'penlfact', 'peschenr', 'peschft', 'peschlvl', 'prnlfsch','pehgcomp', 'prchld', 'prnmchld',\
'pedipged', 'pecert1']

In [10]:
df = df[second_cut]

In [11]:
#big change in numbers here
df.hufinal.value_counts(dropna=False)

201    92966
218    11989
1       7151
226     6202
219     2935
216     1100
225      768
203      613
229      435
228      433
227      303
259      274
231      253
217      202
233      117
223      115
213      114
240       99
230       95
2         86
248       84
241       67
232       66
243       64
214       49
4         24
245       18
244       17
247        8
258        1
224        1
Name: hufinal, dtype: int64

In [12]:
#decided to dropna's cleared up problem with target variable
df = df.dropna()

#artifacts from trying to work figure out how to handle na's
#big change in numbers here
# df.hufinal.value_counts(dropna=False) --> column dropped
# df.columns[df.isnull().any()]
# df[df.hufinal != (218)][['pemlr', 'prexplf', 'prempnot']].value_counts(dropna=False)
# df[['prmjind1', 'prmjind2','prmjocc1', 'prmjocc2', 'prmjocgr']].value_counts(dropna=False)
# df[['pemlr', 'prexplf', 'prempnot']].value_counts(dropna=False)
# df[['pemlr', 'prexplf', 'prempnot']].value_counts(normalize=True, dropna=False)

## Takeaways
* Still need to verify the industry recodes
* eliminated additional columns that had greater change of leakage
----
* need to verify contents of industry recodes for viability
* look into hufinal and use that to drop records that refused to respond --> changing strategy
* drop any records that have 'NaN' for target variable, indicates incomplete survey/data
----
* decided to just do a straight dropna()

# Prepare
* Goals:
    - Get down to 30 columns
* Takeaways/fixes
    - Get ride of prtage == 0  or impute 
    - fix peafever --> add answers from peafnow to capture active duty 
    - ptdtrace, pehspnon --> hispanic/non needs to be added to race and race needs to be handled --> disregard
    - pemlr, prexplf, prempnot --> use information to create disposition

In [13]:
df.peafever == 1

0         False
1         False
2         False
3         False
4         False
          ...
126641    False
126642    False
126643    False
126645    False
126646    False
Name: peafever, Length: 100839, dtype: bool

In [14]:
df[df.peafnow == 1].loc[:,'peafever'] =1

/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/1026979021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.peafnow == 1].loc[:,'peafever'] =1

In [15]:
# remove prtfage. is top code for ages above 80
df[df.prtfage == 1]['prtage'].value_counts()

80.0    2526
85.0    2163
Name: prtage, dtype: int64

In [16]:
# fixing peafnow  --> get rid of peafnow
df[df.peafnow == 1].loc[:,'peafever'] = 1
df[['peafever']].value_counts(dropna=False)

/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/827805036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.peafnow == 1].loc[:,'peafever'] = 1

peafever
 2.0        74791
-1.0        20173
 1.0         5875
dtype: int64

In [17]:
# create function to flatten race in less categories
def flatten_race(val):
    if val == 1:
        val = 'white'
    elif val == 2:
        val = 'black'
    elif val == 3:
        val = 'AI/NA'
    elif val == 4:
        val = 'asian'
    elif val == 5:
        val = 'HI/PI'
    elif 5 < val < 10:
        val = 'mixed_white'
    elif 10 <= val < 27 :
        val = 'mixed_other'
    return val

df['ptdtrace'] = df['ptdtrace'].apply(flatten_race)

#artifact from trying to combine with Hispanic status
# df[['ptdtrace','pehspnon']].sort_values('pehspnon').value_counts()

In [18]:
# remove responses from people not in the labor force by means other that discouragement
df = df[df.prempnot != 4]

In [19]:
# remove responses from unqualified respondents (children and active armed forces members)
df = df[df.prempnot != (-1)]

In [20]:
# binary recode of premmpnot to include repsondents discourage from workforce participation as unemployed
df.prempnot = np.where(df.prempnot == 1, 1, 0)

In [21]:
df.prempnot.value_counts()

1    48086
0     1677
Name: prempnot, dtype: int64

In [22]:
final_list = ['hehousut', 'hefaminc', 'hrnumhou', 'hrhtype','hubus',\
'gediv', 'gestfips', 'gtmetsta', 'gtcbsasz', 'prtage', 'pesex', \
'pemaritl', 'peafever', 'peeduca', 'ptdtrace', 'pehspnon', 'penatvty', 'pemntvty','pehrftpt',\
'pefntvty', 'prcitshp', 'pubus1', 'pudis2', 'pehruslt', 'pelkavl', 'pedwlko', 'pedwwk', 'pejhwant', 'prempnot',\
'prmjind1', 'prmjocc1', 'peernuot', 'peschenr', 'prchld', 'pecert1']

In [23]:
df = df[final_list]

# Prepare - Part II
* Goals:
    - Change column names
* Takeaways
    - `usual_35_hours_more`/`pehrftpt` can be removed, and data used to impute values in `usual_hours_worked`
    - use apply function to take handle --> back to before column renaming for flow purposes. leave as is for now

In [24]:
df = df.rename(columns={'hehousut': 'housing_type',
'hefaminc': 'family_income',
'hrnumhou': 'household_num',
'hrhtype': 'household_type',
'hubus': 'own_bus_or_farm',
'gediv': 'country_region',
'gestfips': 'state',
'gtmetsta': 'metropolitan',
'gtcbsasz': 'metro_area_size',
'prtage': 'age',
'pesex': 'sex',
'pemaritl': 'marital_status',
'peafever': 'veteran',
'peeduca': 'education',
'ptdtrace': 'race',
'pehspnon': 'hispanic_or_non',
'penatvty': 'birth_country',
'pemntvty': 'mother_birth_country',
'pefntvty': 'father_birth_country',
'prcitshp': 'citizenship',
'pubus1': 'upaid_work_last_week',
'pudis2': 'disability_preventing_work_in_next_6_months',
'pehrftpt' : 'usual_35_hours_more',
'pehruslt': 'usual_hours_worked',
'pelkavl': 'could_have_started_job',
'pedwlko': 'sought_work_last_12_months',
'pedwwk': 'worked_last_12_months',
'pejhwant': 'intend_to_look_next_12_months',
'prempnot': 'employed',
'prmjind1': 'industry',
'prmjocc1': 'occupation',
'peernuot': 'usual_ot_tips_commis',
'peschenr': 'enrolled_in_school',
'prchld': 'children_in_household',
'pecert1': 'professional_certification'})

In [25]:
#work done to fix usual_hours_worked with manual imputation 
# *****MUSTBEDONEAFTERNAMECHANGEFORNOW****

df[df.usual_hours_worked == -4].usual_35_hours_more.value_counts()
df.usual_35_hours_more.value_counts()
#mean hours worked for those less that work less than 35
more_than_35 = round(df[df.usual_hours_worked > 35].usual_hours_worked.mean())
#mean hours worked for those less that work less than 35
less_than_35 = round(df[(df.usual_hours_worked > 0) & (df.usual_hours_worked < 35)].usual_hours_worked.mean())
df[['usual_35_hours_more', 'usual_hours_worked']].value_counts()
df[df.usual_35_hours_more == 1]['usual_hours_worked'] = more_than_35
df[df.usual_35_hours_more == 2]['usual_hours_worked'] = less_than_35

df = df.drop(columns='usual_35_hours_more')

/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/2175599582.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.usual_35_hours_more == 1]['usual_hours_worked'] = more_than_35
/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/2175599582.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.usual_35_hours_more == 2]['usual_hours_worked'] = less_than_35

In [26]:
df.columns.to_list()

['housing_type',
 'family_income',
 'household_num',
 'household_type',
 'own_bus_or_farm',
 'country_region',
 'state',
 'metropolitan',
 'metro_area_size',
 'age',
 'sex',
 'marital_status',
 'veteran',
 'education',
 'race',
 'hispanic_or_non',
 'birth_country',
 'mother_birth_country',
 'father_birth_country',
 'citizenship',
 'upaid_work_last_week',
 'disability_preventing_work_in_next_6_months',
 'usual_hours_worked',
 'could_have_started_job',
 'sought_work_last_12_months',
 'worked_last_12_months',
 'intend_to_look_next_12_months',
 'employed',
 'industry',
 'occupation',
 'usual_ot_tips_commis',
 'enrolled_in_school',
 'children_in_household',
 'professional_certification']

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49763 entries, 0 to 126646
Data columns (total 34 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   housing_type                                 49763 non-null  int64
 1   family_income                                49763 non-null  int64
 2   household_num                                49763 non-null  int64
 3   household_type                               49763 non-null  int64
 4   own_bus_or_farm                              49763 non-null  int64
 5   country_region                               49763 non-null  int64
 6   state                                        49763 non-null  int64
 7   metropolitan                                 49763 non-null  int64
 8   metro_area_size                              49763 non-null  int64
 9   age                                          49763 non-null  float64
 10  sex                                          49763 non-null  float64
 11  marital_status                               49763 non-null  float64
 12  veteran                                      49763 non-null  float64
 13  education                                    49763 non-null  float64
 14  race                                         49763 non-null  object
 15  hispanic_or_non                              49763 non-null  float64
 16  birth_country                                49763 non-null  float64
 17  mother_birth_country                         49763 non-null  float64
 18  father_birth_country                         49763 non-null  float64
 19  citizenship                                  49763 non-null  float64
 20  upaid_work_last_week                         49763 non-null  float64
 21  disability_preventing_work_in_next_6_months  49763 non-null  float64
 22  usual_hours_worked                           49763 non-null  float64
 23  could_have_started_job                       49763 non-null  float64
 24  sought_work_last_12_months                   49763 non-null  float64
 25  worked_last_12_months                        49763 non-null  float64
 26  intend_to_look_next_12_months                49763 non-null  float64
 27  employed                                     49763 non-null  int64
 28  industry                                     49763 non-null  float64
 29  occupation                                   49763 non-null  float64
 30  usual_ot_tips_commis                         49763 non-null  float64
 31  enrolled_in_school                           49763 non-null  float64
 32  children_in_household                        49763 non-null  float64
 33  professional_certification                   49763 non-null  float64
dtypes: float64(23), int64(10), object(1)
memory usage: 13.3+ MB

# Prepare - Part III
* Goals
    - identify final categorical vs numerical column disposition
    - binary encode where able
    - ~~translate to numerical when able~~ leave numerical alone
    - flatten necessary categorical columns 
        * possible save until after exploration phase. may be unnecessary
        * housing_type, household_type, marital_status, birth_country, mother_birth_country, father_birth_country

In [28]:
#fixing types on categorical columns
categorical_cols = ['housing_type','family_income','household_type',
                    'country_region','state','metropolitan','metro_area_size',
                    'marital_status','education','race','birth_country',
                    'mother_birth_country','father_birth_country','citizenship',
                    'industry','occupation']

#for loop to handle assignment as object
for col in categorical_cols:
    df[col] = (df[col].astype('object'))

In [29]:
#fixing binary columns freom -1, 1, 2 --> 0, 1
binary_cols = ['own_bus_or_farm', 'sex', 'veteran','hispanic_or_non', 
                'upaid_work_last_week','could_have_started_job',
                'sought_work_last_12_months', 'worked_last_12_months',
                'intend_to_look_next_12_months','employed', 'usual_ot_tips_commis',
                'enrolled_in_school','professional_certification']

In [30]:
# changed all non-affirmative answers to negative. tips, school, most affected
for col in binary_cols:
    df[col] = np.where(df[col] == 1, 1, 0)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49763 entries, 0 to 126646
Data columns (total 34 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   housing_type                                 49763 non-null  object
 1   family_income                                49763 non-null  object
 2   household_num                                49763 non-null  int64
 3   household_type                               49763 non-null  object
 4   own_bus_or_farm                              49763 non-null  int64
 5   country_region                               49763 non-null  object
 6   state                                        49763 non-null  object
 7   metropolitan                                 49763 non-null  object
 8   metro_area_size                              49763 non-null  object
 9   age                                          49763 non-null  float64
 10  sex                                          49763 non-null  int64
 11  marital_status                               49763 non-null  object
 12  veteran                                      49763 non-null  int64
 13  education                                    49763 non-null  object
 14  race                                         49763 non-null  object
 15  hispanic_or_non                              49763 non-null  int64
 16  birth_country                                49763 non-null  object
 17  mother_birth_country                         49763 non-null  object
 18  father_birth_country                         49763 non-null  object
 19  citizenship                                  49763 non-null  object
 20  upaid_work_last_week                         49763 non-null  int64
 21  disability_preventing_work_in_next_6_months  49763 non-null  float64
 22  usual_hours_worked                           49763 non-null  float64
 23  could_have_started_job                       49763 non-null  int64
 24  sought_work_last_12_months                   49763 non-null  int64
 25  worked_last_12_months                        49763 non-null  int64
 26  intend_to_look_next_12_months                49763 non-null  int64
 27  employed                                     49763 non-null  int64
 28  industry                                     49763 non-null  object
 29  occupation                                   49763 non-null  object
 30  usual_ot_tips_commis                         49763 non-null  int64
 31  enrolled_in_school                           49763 non-null  int64
 32  children_in_household                        49763 non-null  float64
 33  professional_certification                   49763 non-null  int64
dtypes: float64(4), int64(14), object(16)
memory usage: 13.3+ MB

# Prep: Part IV 
* Goal:
    - Create functions that will handle sections of prep 
    - Big wrangle Function --> prep_aug()
    - don't forget to add docstring placeholders

In [32]:
def acquire_aug():
    ''' 
    Purpose:

    ---

    Parameters:

    ---

    Output:
    
    ---
    '''

    df = pd.read_csv('aug22pub.csv')

    df.columns = df.columns.str.lower()
    
    return df

# create function to flatten race in less categories
def flatten_race(val):
    ''' 
    Purpose:

    ---

    Parameters:

    ---

    Output:
    
    ---
    '''
    if val == 1:
        val = 'white'
    elif val == 2:
        val = 'black'
    elif val == 3:
        val = 'AI/NA'
    elif val == 4:
        val = 'asian'
    elif val == 5:
        val = 'HI/PI'
    elif 5 < val < 10:
        val = 'mixed_white'
    elif 10 < 27 :
        val = 'mixed_other'
    return val


def prep_values(df):
    ''' 
    Purpose:

    ---

    Parameters:

    ---

    Output:
    
    ---
    '''

    #decided to dropna's cleared up problem with target variable
    df = df.dropna()

    # fixing peafnow  --> get rid of peafnow
    df[df.peafnow == 1].loc[:,'peafever'] = 1

    #work done to fix usual_hours_worked with manual imputation 
    #mean hours worked for those less that work less than 35
    more_than_35 = round(df[df.pehruslt > 35].pehruslt.mean())
    #mean hours worked for those less that work less than 35
    less_than_35 = round(df[(df.pehruslt > 0) & (df.pehruslt < 35)].pehruslt.mean())
    df[['pehrftpt', 'pehruslt']].value_counts()

    df[df.pehrftpt == 1].loc[:,'pehruslt'] = more_than_35
    df[df.pehrftpt == 2].loc[:,'pehruslt'] = less_than_35

    # remove responses from people not in the labor force by means other that discouragement
    df = df[df.prempnot != 4]
    # remove responses from unqualified respondents (children and active armed forces members)
    df = df[df.prempnot != (-1)]
    # binary recode of premmpnot to include repsondents discourage from workforce participation as unemployed
    df.prempnot = np.where(df.prempnot == 1, 1, 0)

    return df


def prep_columns(df): 
    ''' 
    Purpose:

    ---

    Parameters:

    ---

    Output:
    
    ---
    '''

    df['ptdtrace'] = df['ptdtrace'].apply(flatten_race)

    final_list = ['hehousut', 'hefaminc', 'hrnumhou', 'hrhtype','hubus',\
    'gediv', 'gestfips', 'gtmetsta', 'gtcbsasz', 'prtage', 'pesex', \
    'pemaritl', 'peafever', 'peeduca', 'ptdtrace', 'pehspnon', 'penatvty', 'pemntvty',
    'pefntvty', 'prcitshp', 'pubus1', 'pehruslt', 'pelkavl', 'pedwlko', 'pedwwk', 'pejhwant', 'prempnot',\
    'prmjind1', 'prmjocc1', 'peschenr', 'prchld', 'pecert1']

    df = df[final_list]

    df = df.rename(columns={'hehousut': 'housing_type',
        'hefaminc': 'family_income',
        'hrnumhou': 'household_num',
        'hrhtype': 'household_type',
        'hubus': 'own_bus_or_farm',
        'gediv': 'country_region',
        'gestfips': 'state',
        'gtmetsta': 'metropolitan',
        'gtcbsasz': 'metro_area_size',
        'prtage': 'age',
        'pesex': 'is_male',
        'pemaritl': 'marital_status',
        'peafever': 'veteran',
        'peeduca': 'education',
        'ptdtrace': 'race',
        'pehspnon': 'hispanic_or_non',
        'penatvty': 'birth_country',
        'pemntvty': 'mother_birth_country',
        'pefntvty': 'father_birth_country',
        'prcitshp': 'citizenship',
        'pubus1': 'upaid_work_last_week',
        'pehruslt': 'usual_hours_worked',
        'prempnot': 'employed',
        'prmjind1': 'industry',
        'prmjocc1': 'occupation',
        'peschenr': 'enrolled_in_school',
        'prchld': 'children_in_household',
        'pecert1': 'professional_certification'})

    #fixing types on categorical columns
    categorical_cols = ['housing_type','family_income','household_type',
                        'country_region','state','metropolitan','metro_area_size',
                        'marital_status','education','race','birth_country',
                        'mother_birth_country','father_birth_country','citizenship',
                        'industry','occupation']

    binary_cols = ['own_bus_or_farm', 'is_male', 'veteran','hispanic_or_non', 
                'upaid_work_last_week','employed',
                'enrolled_in_school','professional_certification']  

    #for loop to handle assignment as object
    for col in categorical_cols:
        df[col] = (df[col].astype('object'))

    # changed all non-affirmative answers to negative. tips, school, most affected
    for col in binary_cols:
        df[col] = np.where(df[col] == 1, 1, 0)                                 

    return df

In [33]:
def prep_aug():
    ''' 
    Purpose:

    ---

    Parameters:

    ---

    Output:
    
    ---
    '''

    df = acquire_aug()

    df = prep_values(df)

    df = prep_columns(df)

    return df

In [34]:
test = prep_aug()

/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/4138682974.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.peafnow == 1].loc[:,'peafever'] = 1
/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/4138682974.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.pehrftpt == 1].loc[:,'pehruslt'] = more_than_35
/var/folders/x7/9w9mh0fd73zg4jr8l_9v9h840000gn/T/ipykernel_73387/4138682974.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.pehrftpt == 2].loc[:,'pehruslt'] = less_than_35

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50806 entries, 1 to 127917
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   housing_type                50806 non-null  object
 1   family_income               50806 non-null  object
 2   household_num               50806 non-null  int64
 3   household_type              50806 non-null  object
 4   own_bus_or_farm             50806 non-null  int64
 5   country_region              50806 non-null  object
 6   state                       50806 non-null  object
 7   metropolitan                50806 non-null  object
 8   metro_area_size             50806 non-null  object
 9   age                         50806 non-null  float64
 10  is_male                     50806 non-null  int64
 11  marital_status              50806 non-null  object
 12  veteran                     50806 non-null  int64
 13  education                   50806 non-null  object
 14  race                        50806 non-null  object
 15  hispanic_or_non             50806 non-null  int64
 16  birth_country               50806 non-null  object
 17  mother_birth_country        50806 non-null  object
 18  father_birth_country        50806 non-null  object
 19  citizenship                 50806 non-null  object
 20  upaid_work_last_week        50806 non-null  int64
 21  usual_hours_worked          50806 non-null  float64
 22  pelkavl                     50806 non-null  float64
 23  pedwlko                     50806 non-null  float64
 24  pedwwk                      50806 non-null  float64
 25  pejhwant                    50806 non-null  float64
 26  employed                    50806 non-null  int64
 27  industry                    50806 non-null  object
 28  occupation                  50806 non-null  object
 29  enrolled_in_school          50806 non-null  int64
 30  children_in_household       50806 non-null  float64
 31  professional_certification  50806 non-null  int64
dtypes: float64(7), int64(9), object(16)
memory usage: 12.8+ MB

In [36]:
reload(wrangle)

# October Work

# Acquire

In [55]:
df = pd.read_csv('oct22pub.csv')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126649 entries, 0 to 126648
Columns: 388 entries, hrhhid2 to pternh2
dtypes: float64(337), int64(51)
memory usage: 374.9 MB

In [ ]:
# list to hold columns for masking.

In [57]:
columns_to_keep = [ 'hehousut',
                    'hrnumhou', 
                    'hefaminc',
                    'hrhtype',
                    'hubus',
                    'gediv',
                    'gestfips',
                    'gtmetsta',
                    'gtcbsasz',
                    'prtage',
                    'pemaritl',
                    'pesex',
                    'peafever',
                    'peeduca',
                    'ptdtrace', 
                    'pehspnon',
                    'penatvty',
                    'pemntvty',
                    'pefntvty', 
                    'prcitshp', 
                    'prinuyer',
                    'pubus1', 
                    'pehrftpt',
                    'pejhwko',
                    'prempnot',
                    'prftlf',
                    'prcow1',
                    'prmjind1',
                    'prmjocc1', 
                    'peernhry',
                    'peschenr', 
                    'prnmchld',
                    'pedipged',
                    'peafwhn1',
                    'pecert1',\
                    
        ]

In [58]:
df.columns = df.columns.str.lower()

In [59]:
df = df[columns_to_keep]

In [60]:
df = df.rename(columns={'hehousut': 'housing_type',
        'hrnumhou': 'household_num',
        'hefaminc': 'family_income',
        'hrhtype': 'household_type',
        'hubus': 'own_bus_or_farm',
        'gediv': 'country_region',
        'gestfips': 'state',
        'gtmetsta': 'metropolitan',
        'gtcbsasz': 'metro_area_size',
        'prtage': 'age',
        'pemaritl': 'marital_status',
        'pesex': 'is_male',
        'peafever': 'veteran',
        'peeduca': 'education',
        'ptdtrace': 'race',
        'pehspnon': 'hispanic_or_non',
        'penatvty': 'birth_country',
        'pemntvty': 'mother_birth_country',
        'pefntvty': 'father_birth_country',
        'prcitshp': 'citizenship',        
        'prinuyer': 'immigration_era',
        'pubus1': 'upaid_work_last_week',
        'pehrftpt': 'usual_35_or_more',
        'pejhwko': 'job_past_12_months', 
        'prempnot': 'employed',
        'prftlf': 'ft_or_pt',
        'prcow1': 'worker_class',
        'prmjind1': 'industry',
        'prmjocc1': 'occupation',
        'peernhry': 'hourly', 
        'peschenr': 'enrolled_in_school',
        'prnmchld': 'num_children',
        'pedipged': 'ged_or_diploma',
        'peafwhn1': 'service_era',
        'pecert1': 'professional_certification'})

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126649 entries, 0 to 126648
Data columns (total 35 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   housing_type                126649 non-null  int64
 1   household_num               126649 non-null  int64
 2   family_income               126649 non-null  int64
 3   household_type              126649 non-null  int64
 4   own_bus_or_farm             126649 non-null  int64
 5   country_region              126649 non-null  int64
 6   state                       126649 non-null  int64
 7   metropolitan                126649 non-null  int64
 8   metro_area_size             126649 non-null  int64
 9   age                         100839 non-null  float64
 10  marital_status              100839 non-null  float64
 11  is_male                     100839 non-null  float64
 12  veteran                     100839 non-null  float64
 13  education                   100839 non-null  float64
 14  race                        100839 non-null  float64
 15  hispanic_or_non             100839 non-null  float64
 16  birth_country               100839 non-null  float64
 17  mother_birth_country        100839 non-null  float64
 18  father_birth_country        100839 non-null  float64
 19  citizenship                 100839 non-null  float64
 20  immigration_era             100839 non-null  float64
 21  upaid_work_last_week        100839 non-null  float64
 22  usual_35_or_more            100839 non-null  float64
 23  job_past_12_months          100839 non-null  float64
 24  employed                    100839 non-null  float64
 25  ft_or_pt                    100839 non-null  float64
 26  worker_class                100839 non-null  float64
 27  industry                    100839 non-null  float64
 28  occupation                  100839 non-null  float64
 29  hourly                      100839 non-null  float64
 30  enrolled_in_school          100839 non-null  float64
 31  num_children                100839 non-null  float64
 32  ged_or_diploma              100839 non-null  float64
 33  service_era                 100839 non-null  float64
 34  professional_certification  126625 non-null  float64
dtypes: float64(26), int64(9)
memory usage: 33.8 MB

# Prepare

### drop any NILF(not in labor force or with -1)

In [63]:
df.employed.value_counts(0)

 1.0    48086
 4.0    33496
-1.0    17580
 2.0     1589
 3.0       88
Name: employed, dtype: int64

In [69]:
df = df[(df.employed == 1) | (df.employed == 2)].reset_index(drop=True)

### check for null values

In [70]:
df.isna()

housing_type                  0
household_num                 0
family_income                 0
household_type                0
own_bus_or_farm               0
country_region                0
state                         0
metropolitan                  0
metro_area_size               0
age                           0
marital_status                0
is_male                       0
veteran                       0
education                     0
race                          0
hispanic_or_non               0
birth_country                 0
mother_birth_country          0
father_birth_country          0
citizenship                   0
immigration_era               0
upaid_work_last_week          0
usual_35_or_more              0
job_past_12_months            0
employed                      0
ft_or_pt                      0
worker_class                  0
industry                      0
occupation                    0
hourly                        0
enrolled_in_school            0
num_children                  0
ged_or_diploma                0
service_era                   0
professional_certification    0
dtype: int64

In [71]:
df.household_num.value_counts()

2     16209
3      9881
4      9622
1      6358
5      4511
6      1905
7       692
8       278
9       129
10       36
11       35
12       12
13        7
Name: household_num, dtype: int64

In [74]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print('---')

housing_type
1     47832
5      1556
6       220
2        17
7        13
3        13
4        12
12       10
8         2
Name: housing_type, dtype: int64
---
household_num
2     16209
3      9881
4      9622
1      6358
5      4511
6      1905
7       692
8       278
9       129
10       36
11       35
12       12
13        7
Name: household_num, dtype: int64
---
family_income
16    11746
15     9544
14     7342
13     5248
12     3748
11     3248
10     2084
9      1844
8      1251
7      1088
6       725
4       466
1       426
5       384
2       285
3       246
Name: family_income, dtype: int64
---
household_type
1     28921
6      6162
4      6125
7      4805
3      3428
2       189
5        17
8        16
9         8
10        4
Name: household_type, dtype: int64
---
own_bus_or_farm
 2    40996
 1     8518
-3      119
-2       41
-1        1
Name: own_bus_or_farm, dtype: int64
---
country_region
5    9129
9    7377
8    6184
7    5470
3    5245
4    4825
2    4202
1    3976
6    3267
Name: country_region, dtype: int64
---
state
6     4304
48    2891
12    2313
36    1854
42    1416
17    1379
37    1289
25    1234
39    1204
26    1139
22    1025
13    1021
1      999
53     982
49     956
51     935
34     932
47     926
11     898
54     856
5      835
30     831
41     829
16     827
4      819
18     809
28     793
27     764
38     758
29     747
45     720
40     719
55     714
8      710
35     707
33     698
15     676
32     672
20     667
31     664
56     662
50     661
46     616
19     609
24     597
2      586
21     549
9      546
10     500
44     451
23     386
Name: state, dtype: int64
---
metropolitan
1    40961
2     8213
3      501
Name: metropolitan, dtype: int64
---
metro_area_size
0    11652
7     9726
5     7728
4     6686
6     6155
2     3892
3     3836
Name: metro_area_size, dtype: int64
---
age
40.0    1144
41.0    1140
36.0    1126
37.0    1125
34.0    1104
        ...
76.0     121
85.0      81
78.0      81
77.0      79
79.0      75
Name: age, Length: 67, dtype: int64
---
marital_status
1.0    25918
6.0    16061
4.0     4986
3.0     1001
5.0      952
2.0      757
Name: marital_status, dtype: int64
---
is_male
1.0    26034
2.0    23641
Name: is_male, dtype: int64
---
veteran
 2.0    46775
 1.0     2495
-1.0      405
Name: veteran, dtype: int64
---
education
39.0    12957
43.0    12453
40.0     7662
44.0     5590
42.0     3045
41.0     2283
46.0     1255
37.0      875
45.0      812
36.0      647
38.0      605
35.0      452
34.0      418
33.0      388
32.0      173
31.0       60
Name: education, dtype: int64
---
race
1.0     39728
2.0      5116
4.0      3096
3.0       547
5.0       264
6.0       253
7.0       250
8.0       219
9.0        42
15.0       39
11.0       29
10.0       28
21.0       21
16.0       17
12.0        6
19.0        6
17.0        3
13.0        3
26.0        2
20.0        2
23.0        2
18.0        1
14.0        1
Name: race, dtype: int64
---
hispanic_or_non
2.0    41979
1.0     7696
Name: hispanic_or_non, dtype: int64
---
birth_country
57.0     41195
303.0     1975
210.0      550
233.0      446
207.0      317
         ...
159.0        1
321.0        1
168.0        1
140.0        1
338.0        1
Name: birth_country, Length: 159, dtype: int64
---
mother_birth_country
57.0     38061
303.0     3038
210.0      639
233.0      620
207.0      449
         ...
338.0        2
142.0        1
156.0        1
159.0        1
369.0        1
Name: mother_birth_country, Length: 160, dtype: int64
---
father_birth_country
57.0     38090
303.0     3097
210.0      654
233.0      577
207.0      455
         ...
369.0        1
159.0        1
321.0        1
430.0        1
118.0        1
Name: father_birth_country, Length: 159, dtype: int64
---
citizenship
1.0    41203
5.0     3893
4.0     3875
3.0      460
2.0      244
Name: citizenship, dtype: int64
---
immigration_era
0.0     41203
17.0      690
27.0      518
25.0      467
16.0      453
18.0      433
24.0      428
19.0      427
26.0      401
15.0      388
22.0      381
12.0      378
20.0      377
23.0      363
13.0      337
14.0      331
21.0      309
11.0      283
6.0       245
7.0       235
9.0       230
10.0      222
5.0       184
8.0       148
4.0       125
3.0        66
2.0        49
1.0         4
Name: immigration_era, dtype: int64
---
upaid_work_last_week
-1.0    48885
 2.0      491
 1.0      298
-2.0        1
Name: upaid_work_last_week, dtype: int64
---
usual_35_or_more
-1.0    46523
 1.0     2371
 2.0      781
Name: usual_35_or_more, dtype: int64
---
job_past_12_months
-1.0    49675
Name: job_past_12_months, dtype: int64
---
employed
1.0    48086
2.0     1589
Name: employed, dtype: int64
---
ft_or_pt
1.0    41181
2.0     8494
Name: ft_or_pt, dtype: int64
---
worker_class
 4.0    39303
 5.0     3307
 3.0     2994
 2.0     2480
 1.0     1429
-1.0      138
 6.0       24
Name: worker_class, dtype: int64
---
industry
 10.0    11184
 9.0      6209
 5.0      6103
 4.0      4572
 11.0     4269
 3.0      3725
 8.0      3320
 6.0      2990
 13.0     2550
 12.0     2478
 1.0       960
 7.0       913
 2.0       259
-1.0       138
 14.0        5
Name: industry, dtype: int64
---
occupation
 2.0     12145
 1.0      9361
 3.0      7820
 5.0      4935
 4.0      4456
 10.0     3659
 7.0      2697
 9.0      2554
 8.0      1521
 6.0       384
-1.0       138
 11.0        5
Name: occupation, dtype: int64
---
hourly
-1.0    38890
 1.0     5961
 2.0     4824
Name: hourly, dtype: int64
---
enrolled_in_school
 2.0    33407
-1.0    13066
 1.0     3202
Name: enrolled_in_school, dtype: int64
---
num_children
0.0    34438
1.0     6482
2.0     5762
3.0     2169
4.0      644
5.0      109
6.0       48
7.0       14
8.0        8
9.0        1
Name: num_children, dtype: int64
---
ged_or_diploma
-1.0    36718
 1.0    11852
 2.0     1105
Name: ged_or_diploma, dtype: int64
---
service_era
-1.0    47180
 1.0      857
 3.0      677
 2.0      589
 4.0      324
 5.0       42
 6.0        3
 7.0        2
 8.0        1
Name: service_era, dtype: int64
---
professional_certification
2.0    37517
1.0    12158
Name: professional_certification, dtype: int64
---